{% load main_template %}
{% block content %}
{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Purple Buzz - Pricing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% main_template 'assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Load Require CSS -->
    <link href="{% main_template 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% main_template 'assets/css/boxicon.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% main_template 'assets/css/templatemo.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% main_template 'assets/css/custom.css' %}">
<!--
    
TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

-->
</head>

<body>
    {% include 'base_nav.html' %}


    <!-- Start pricing -->
    <div class="container-lg py-5">
        <div class="col-md-12 m-auto text-center py-5">
            <h1 class="pricing-header h2 semi-bold-600">Our Services</h1>
            <p class="pricing-footer">

                We are offering three different types of services. 

            </p>
        </div>


        <div class="row px-lg-3">


            <div class="col-md-4 pb-5 pt-sm-0 mt-5 px-xl-3">
                <div class="pricing-table card h-100 shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body rounded-pill text-center align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-secondary"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">Resedential plan</h2>
                        <!-- <p>$0</p> -->

                        <ul class="pricing-table-list text-start text-dark px-4 list-unstyled light-300">
                            <li><i class="bx bxs-circle me-2"></i>Large area covarage</li>
                            <li><i class="bx bxs-circle me-2"></i>Effecint and eco-friendly cleaning</li>
                            <li><i class="bx bxs-circle me-2"></i>Flexible schedule</li>
                            <li><i class="bx bxs-circle me-2"></i>10% off at 1st deal</li>
                        </ul>

                        <div class="pricing-table-footer pt-5">
                            <a href="#" class="btn rounded-pill px-4 btn-outline-primary light-300">Get Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 pt-sm-0 pt-3 px-xl-3">
                <div class="pricing-table card bg-secondary h-100 card-rounded shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body text-center text-white align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-white py-3"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">Commercial plan</h2>
                        <!-- <p>$120/Year</p> -->

                        <ul class="pricing-table-list text-start text-dark px-4 list-unstyled light-300">
                            <li class="text-white"><i class="bx bxs-circle me-2"></i>Large area covarage</li>
                            <li class="text-white"><i class="bx bxs-circle me-2"></i>Deep-cleaning</li>
                            <li class="text-white"><i class="bx bxs-circle me-2"></i>Night shift</li>
                            <li class="text-white"><i class="bx bxs-circle me-2"></i>15% off at 1st deal</li>
                        </ul>

                        <div class="pricing-table-footer pt-5 pb-2">
                            <a href="#" class="btn rounded-pill px-4 btn-outline-light light-300">Get Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 pb-5 pt-sm-0 mt-5 px-xl-3">
                <div class="pricing-table card h-100 shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body text-center align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-secondary"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">Resedential deep-cleaning</h2>
                        <!-- <p>$840/Year</p> -->
                        
                        <ul class="pricing-table-list text-start text-dark px-4 list-unstyled light-300">
                            <li><i class="bx bxs-circle me-2"></i>Large area covarage</li>
                            <li><i class="bx bxs-circle me-2"></i>Crystel-clear cleaning</li>
                            <li><i class="bx bxs-circle me-2"></i>Flexible schedule</li>
                            <li><i class="bx bxs-circle me-2"></i>12% off at 1st deal</li>
                            <li><i class="bx bxs-circle me-2"></i>Customizations</li>
                        </ul>

                        
                        <div class="pricing-table-footer pt-1">
                            <a href="#" class="btn rounded-pill px-4 btn-outline-primary light-300">Get Now</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- End Content -->








    {% include 'footer.html' %}

    <!-- Bootstrap -->
    <script src="{% main_template 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Templatemo -->
    <script src="{% main_template 'assets/js/templatemo.js' %}"></script>
    <!-- Custom -->
    <script src="{% main_template 'assets/js/custom.js' %}"></script>

</body>

</html>
{% endblock %}
